body{
  background-image: url("https://www.goodfreephotos.com/albums/other-photos/backgrounds/beach-sand-ocean-with-sky-clouds.jpg")
}
ul {
    list-style-type: none;
  }
#five-day{
    justify-content: center;
    }